#!/usr/bin/python3
secret_files_path = '/var/www/secret/secret'
smtp_host = 'mail.domain.any'
smtp_port = 465
smtp_ssl = True
smtp_from = 'Share my secret <me@domain.any>'
smtp_auth = True
smtp_username = 'email_user'
smtp_password = '******************************'
cors='https://my.domain.anys'
max_secret_body_length = 2 * 1024 * 1024 # 7 MB - Must be ~30-40 % more than maxFileSize in javascript (base64 encoding)
max_email_body_length = 102400


